<ion-content class="firstContent" force-overscroll="false" translucent="true" fullscreen="true" *ngIf="pageNo === 1">
  <div class='overlay-div'>
  <ion-grid class=" logo-div ion-no-margin">
    <ion-row class="lg-image-row ion-align-items-baseline">
      <ion-col class="lg-image ion-no-padding ion-no-margin">
        <div class="image-overlay-div">
          <div>
            <ion-img class='logo-image' src="../../../../assets/logos/auth-logo.png"></ion-img>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="intro-grid">
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <h1 class="color-white letter-spacing-5">Welcome <br> to our app</h1>
        <p class="color-white">Welcome back, you’ve been missed!</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="started-btn-grid">
    <ion-row>
      <ion-col>
        <ion-button class="action-btn" color="primary" (click)="nextPage()"
        shape="round" expand="true" >Get Started</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
</ion-content>
<ion-content *ngIf="pageNo === 2">
<ion-grid class="ion-no-padding ion-no-margin">
  <ion-card class="image-card">
  </ion-card>
  <ion-row>
    <ion-col size="12">
      <h1 class="perpose-heading">Get your groceries <br> with SDEKIK</h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="mobile-col">
      <ion-input class="grey-border-bottom padding-right-20"
       type="text" name="user_phone_no"  id="userMobileNo"
        placeholder="23456789">
        <ion-icon 
        color="success" 
        name="flag" 
        class="input-icons"
        slot="start"
        ></ion-icon>
      </ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h5 class="social-link txt-align-center margin-none">Or connect with social media</h5>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid class="social-btn-grid">
<ion-row>
  <ion-col>
    <ion-button 
    (click)="nextPage()" 
    class="action-btn social-media-color pr-15 pl-15"
    shape="round" expand="true">
    <ion-icon name="logo-google" class="font-size-26 pr-10" color="light"></ion-icon>
    Continue With Google</ion-button>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-button 
    (click)="nextPage()" 
    class="action-btn social-media-color pr-15 pl-15"
    shape="round" expand="true" >
    <ion-icon name="logo-facebook" class="font-size-26 pr-10" color="light"></ion-icon>
    Continue With Facebook</ion-button>
  </ion-col>
</ion-row>
</ion-grid>
</ion-content>
<ion-content *ngIf="pageNo === 3">
  <ion-fab (click)="nextPage()"
  routerDirection='forward'
   vertical="bottom"
    horizontal="end"
     slot="fixed">
   <ion-fab-button color="primary">
     <ion-icon color="light" name="arrow-forward"></ion-icon>
   </ion-fab-button>
 </ion-fab>
  <ion-item color="transparent" lines="none" class="mt-5">
    <ion-icon
      class="font-size-26 mt-5"
      color="dark" (click)="backPage()"
      name="arrow-back-outline"
    ></ion-icon>
    </ion-item>
    <h1 class="first-heading color-black mt-60">Enter your mobile number</h1>
    <ion-row>
      <ion-col size="12" class="mobile-col">
        <ion-label>Mobile Number</ion-label>
        <ion-input class="grey-border-bottom padding-right-20 pt-5"
         type="text" name="user_phone_no"  id="userMobileNo"
          placeholder="23456789">
          <ion-icon 
          color="success" 
          name="flag" 
          class="input-icons"
          slot="start"
          ></ion-icon>
        </ion-input>
      </ion-col>
    </ion-row>    
</ion-content>
<ion-content *ngIf="pageNo === 4">
  <ion-fab  (click)="loginScreen()"
  routerDirection='forward'
   vertical="bottom"
    horizontal="end"
     slot="fixed">
   <ion-fab-button color="primary">
     <ion-icon color="light" name="arrow-forward"></ion-icon>
   </ion-fab-button>
 </ion-fab>
  <ion-item color="transparent" lines="none" class="mt-5">
    <ion-icon
      class="font-size-26 mt-5"
      color="dark" (click)="backPage()"
      name="arrow-back-outline"
    ></ion-icon>
    </ion-item>
    <h1 class="first-heading color-black mt-60">Enter your 4-digit code</h1>
    <ion-row>
      <ion-col size="12" class="mobile-col">
        <ion-label>Validate Code</ion-label>
      <div>
        <ion-input class="grey-border-bottom validator-number-input"
        type="text" name="user_phone_no"  id="userMobileNo"
         placeholder=""
         max-length="1">
         
       </ion-input>
       <ion-input class="grey-border-bottom validator-number-input"
        type="text" name="user_phone_no"  id="userMobileNo"
         placeholder=""
         max-length="1"
         >
       </ion-input>
       <ion-input class="grey-border-bottom validator-number-input"
        type="text" name="user_phone_no"  id="userMobileNo"
         placeholder=""
         max-length="1"
         >
       </ion-input>
       <ion-input class="grey-border-bottom validator-number-input"
        type="text" name="user_phone_no"  id="userMobileNo"
         placeholder=""
         max-length="1">

       </ion-input>
      </div>
      </ion-col>
    </ion-row>    
</ion-content>