<ion-content class="firstContent" force-overscroll="false" translucent="true" fullscreen="true" *ngIf="pageNo === 1">
  <div class='overlay-div'>
  <ion-grid class=" logo-div ion-no-margin">
    <ion-row class="lg-image-row ion-align-items-baseline">
      <ion-col class="lg-image ion-no-padding ion-no-margin">
        <div class="image-overlay-div">
          <div>
            <ion-img class='logo-image' src="../../../../assets/logos/auth-logo.png"></ion-img>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="intro-grid">
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <h1 class="color-white letter-spacing-5">Welcome <br> to our app</h1>
        <p class="color-white">Welcome back, you’ve been missed!</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="started-btn-grid">
    <ion-row>
      <ion-col>
        <ion-button class="action-btn" color="primary" (click)="loginScreen()"
        shape="round" expand="true" >Get Started</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
</ion-content>