<ion-content *ngIf="screenNo === 1">
  <form #f="ngForm" (ngSubmit)="addOrderRequest(f)">
    <ion-grid class="p-10">
      <ion-row>
        <ion-col>
          <ion-icon color="dark" (click)="dismiss()" class="font-size-30" name="arrow-back"></ion-icon>
          <h1 class="txt-align-center"><b>Order Info</b></h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-select
           class="form-input padding-left-20 padding-right-20"
           [ngModelOptions]="{standalone: true}"
           placeholder="Service Type*"
          [(ngModel)]="serviceType"
          #serviceTypeCtrl="ngModel"
        >
          <ion-select-option value="1">Service One</ion-select-option>
          <ion-select-option value="2">Service Two</ion-select-option>
          <ion-select-option value="3">Service Three</ion-select-option>
          <ion-select-option value="4">Service Four</ion-select-option>
          <ion-select-option value="5">Service Five</ion-select-option>
        </ion-select>
        <ion-label *ngIf="!serviceTypeCtrl.valid && serviceTypeCtrl.touched" class='error-label'>
         Service Type Cannot be empty
      </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-input required 
          class="form-input padding-left-20 padding-right-20"
          [(ngModel)]="customerName"
          required
          type="text"
          min-length="3"
          [ngModelOptions]="{standalone: true}"
          placeholder="Name*"
          #customerNameCtrl="ngModel"
          >
          </ion-input>
          <ion-label *ngIf="!customerNameCtrl.valid && customerNameCtrl.touched" class='error-label'>
            Customer Name Cannot be empty
         </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-input required 
          class="form-input padding-left-20 padding-right-20"
          [(ngModel)]="customerEmail"
          required
          type="text"
          min-length="3"
          [ngModelOptions]="{standalone: true}"
          placeholder="Email*"
          #customerEmailCtrl="ngModel"
          >
          </ion-input>
          <ion-label *ngIf="!customerEmailCtrl.valid && customerEmailCtrl.touched" class='error-label'>
            Customer Name Cannot be empty
         </ion-label>
        </ion-col>
      </ion-row>
     
      <ion-row>
        <ion-col size="12">
          <ion-input required 
          class="form-input padding-left-20 padding-right-20"
          [(ngModel)]="customerPhoneNo"
          type="text"
          min-length="3"
          [ngModelOptions]="{standalone: true}"
          placeholder="Phone No*"
          >
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-input required 
          class="form-input pl-20 pr-20"
          [(ngModel)]="customerDeliveryDate"
          type="date"
          min-length="3"
          [ngModelOptions]="{standalone: true}"
          placeholder="Delivery Date"
          >
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-input required 
          class="form-input padding-left-20 padding-right-20"
          [(ngModel)]="customerDeliveryTime"
          type="time"
          min-length="3"
          [ngModelOptions]="{standalone: true}"
          placeholder="Delivery Time"
          >
          </ion-input>   
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-label class="ion-label">
            <ion-textarea
            class="form-input pr-15 pr-15"
            [(ngModel)]="customerAddress"
            [ngModelOptions]="{standalone: true}"
            placeholder="Address"
            ></ion-textarea>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button 
          expand="true" 
          width="100"
          shape="round"
          class="action-btn"
          type="submit"
          color="primary"
          [disabled]="!f.valid">Save Order</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-content *ngIf="screenNo === 2" class="order-placed-content">
<ion-grid>
  <ion-row class="ptp-23">
    <ion-col class="order-placed-col">
      <ion-icon class="font-size-170" src="../../../../assets/icon/system-icons/side-menu/received.svg"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row class="order-msg-row">
    <ion-col size="12" class="txt-align-center">
      <h1>Your Order has been accepted</h1>
      <ion-label>
        Your Item has been placed and is an it's way to being processed
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="pt-75">
    <ion-col size="12" class="txt-align-center">
      <ion-button color="primary" class="action-btn">
        Track Order
        <app-location-picker (pickedLocation) = "onLocationPicked($event)"></app-location-picker>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row (click)="dismiss()">
    <ion-col size="12" class="txt-align-center">
      <ion-button class="action-btn back-to-home-btn">
        Back To Home
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>