ion-textarea {
    height: 100px !important;
}
.font-size-170{
    font-size: 170px;
}
.order-placed-col{
    text-align: center !important;
}
.order-placed-content {
    --background: url("../../../../assets/images/common-images/Mask-Group-3x.png");
}
.pt-75{
    padding-top: 75px !important;
}
.order-msg-row{
    padding: 42px 25px 30px 25px;
}
.ptp-23{
    padding-top: 23% !important;
}
.back-to-home-btn{
    --background: #efefef82 !important;
    color: black;
}