.order-heading{
    font-size: 17px;
    font-weight: 600;
    margin: 0px;
    padding-top: 5px;
}
.image-card-green {
    background-color: #c0e2cd !important;
    height: 200px !important;
    margin: 0px !important;
    border: 1px solid #68ecb3;
    border-radius: 15px;
    padding-top: 25px;
}
.image-card-pink {
    background-color: #fae8e4 !important;
    height: 200px !important;
    margin: 0px !important;
    border: 1px solid #e2a598;
    border-radius: 15px;
    padding-top: 25px;
}
.card-img {
    height: 100px;
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 0px 0px,
    rgb(0 0 0 / 14%) 0px 0px 0px 0px,
    rgb(0 0 0 / 12%) 0px 0px 0px 0px;
    background: url("../../../assets/images/system-images/services/33526249-4054-4d3d-9bac-517a8ddd0da7.jpg") 0 0/100% 100% no-repeat !important;
}
.card-img2 {
    height: 100px;
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 0px 0px,
    rgb(0 0 0 / 14%) 0px 0px 0px 0px,
    rgb(0 0 0 / 12%) 0px 0px 0px 0px;
    background: url("../../../assets/images/system-images/services/multi-shops.jpg") 0 0/100% 100% no-repeat !important;  
}
.card-img3 {
    height: 100px;
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 0px 0px,
    rgb(0 0 0 / 14%) 0px 0px 0px 0px,
    rgb(0 0 0 / 12%) 0px 0px 0px 0px;
    background: url("../../../assets/images/system-images/services/64f2ee93-a95a-49bd-952c-47d36895b63f.jpg") 0 0/100% 100% no-repeat !important;  
}
.product-name{
    text-align: center;
    color: black;
    font-weight: 600;
    margin-top: 0px; 
    font-size: 15px;
}