.order-heading{
    font-size: 17px;
    font-weight: 600;
    margin: 0px;
    padding-top: 5px;
}
.card-img {
    background: url("../../../assets/images/starter/pngwing.com (26).png") 0 0/100% 100% no-repeat !important;
    height: 100px;
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 0px 0px, rgb(0 0 0 / 14%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 0px 0px 0px;
    width: 130px;
}
.cart-btn {
    background-color: #E5FEE7;
    border-radius: 7px;
}
.add-btn {
    margin-left: 13px;
}
.count{
    margin-left: 13px; 
    position: relative !important;
    margin-top: 6px;
}
.plp-15{
    padding-left: 15%;
}
.cart-third-col{
    padding-left: 55px;
    padding-top: 13px;
}
.price-span{
    position: absolute;
    padding-top: 43%;
    font-weight: 600;
}
.bb-1{
    border-bottom: 1px solid #8080805c;
    padding: 15px 0px 15px 0px;
}
.product-price{
    position: relative;
    bottom: 15px;
}