// ion-content {
//     --background: url(../../../../assets/images/starter/pexels-photo-1955134.jpeg) 0 0/100% 100% no-repeat !important;
//     background-color: #fff;
//     opacity: 0.75;
//   }
  .logo-div{
    padding: 43px 50px 20px 50px !important;
  }

  .logo-color{
    --background: #e85d35 !important;
  }
  .auth-input{
    border: 1px solid #d7d8daf2;
    border-radius: 10px;
    height: 50px;
    margin-top: 5px;
  }
  ion-button {
    height: 56px;
    width: 100%;
  }
  .logo-color{
    --background: #e85d35 !important;
  }
  ion-img{
    height: 74px !important;
    width: 85% !important;
  }
  .mt-60{
    margin-top: 60px;
  }
  .first-row {
    position: relative;
    top: 30px;
  }
  .first-div {
    position: relative;
    left: 11%;
  }
  .login-h1 {
    color: grey;
    font-weight: 500;
    margin-top: 35px !important;
  }
  ion-label {
    padding-left: 5px !important;
  }