// ion-content {
//     --background: url(../../../../assets/images/starter/pexels-photo-1955134.jpeg) 0 0/100% 100% no-repeat !important;
//     background-color: #fff;
//     opacity: 0.75;
//   }
  .logo-div{
    padding: 43px 50px 20px 50px !important;
  }

  .logo-color{
    --background: #e85d35 !important;
  }
  .auth-input{
    border-bottom: 1px solid #d7d8daf2;
  }
  ion-button {
    height: 56px;
    width: 100%;
  }
  .logo-color{
    --background: #e85d35 !important;
  }
  ion-img{
    height: 100px;
    width: 100%;
  }
  .mt-60{
    margin-top: 60px;
  }