/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 *
 *  Author Name:
 *  Sehar Fiaz && Kaleem Ullah
 *  Date Of Setting Files:
 *  07 March 2021
 * -----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Side menu css style */
ion-menu {
  --min-width: 90% !important; 
}

/* header & footer & toolbar & content Css */
ion-header {
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    max-height: 88px;
    box-shadow: 0px 0px 4px 0px #EFEFEF;
}
ion-toolbar{
  --background: transparent;
}

/****
 Input Elements Css Start Section From Here.
*****/ 

.dark-border-bottom{
    border: none !important;
    border-bottom: 1px solid black !important;
}
.dark-border-top{
    border: none !important;
    border-top: 1px solid #efefef !important;
}
.grey-border-bottom{
  border: none !important;
  border-bottom: 1px solid #80808085!important;
}
.form-input{
  border: 1px solid #9d9fa6 !important;
    border-radius: 11px;
    margin-top: 5px;
    height: 55px !important;
    --padding-top: 15px;
    --padding-end: 0;
    --padding-bottom: 15px;
    --padding-start: 10px;
    font-size: inherit;
}
.native-input {
  padding-left: 15px !important;
  padding-top: 15px !important;
  padding-right: 10px !important;
}
// For Ion-Select MEnu
ion-select {
  .select-icon {
    width: 19px !important;
    height: 19px !important;
    padding-right: 10px !important;
  }
}

/****
 Text Sizes Css Start Section From Here.
*****/ 

.txt-small{
    font-size: small !important;
  }
  .txt-xsmall{
    font-size: x-small;
  }
  .txt-large{
    font-size: large !important;
  }
  .txt-xlarge{
    font-size: x-large !important;
  }
  .txt-xxlarge{
    font-size: xx-large;
  }
  .txt-smaller{
    font-size:smaller !important;
  }
  .span-link{
    color:var(--ion-color-primary);
  }
  .label-floating{
    color: var(--ion-color-dark) !important;
  }
  ion-label {
    color: #9e9e9e !important;
  }
  .text-color-danger {
    color: var(--ion-color-danger) !important;
  }
  .text-decoration-underline {
    text-decoration: underline;
  }
/****
 Label in ion-item Css Start Section From Here.
*****/ 

  .item-label{
    text-align: justify;
    padding-left: 10px;
}
/****
 Search Bar in ion-toolbar Css Start Section From Here.
*****/ 

  .searchbar-search-icon.sc-ion-searchbar-md{
    color: var(--ion-color-dark) !important;
}
.searchbar-cancel-button.sc-ion-searchbar-md {
  color: var(--ion-color-dark) !important;
}
.sc-ion-searchbar-md-h {
  --box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0),
   0 0px 0px 0px rgba(0, 0, 0, 0),
    0 0px 0px 0
   rgba(0, 0, 0, 0);
}
.searchbar-input.sc-ion-searchbar-md {
    padding-left: unset;
    padding-right: unset;
    -webkit-padding-start: 40px !important;
     padding-inline-start: 40px !important; 
     -webkit-padding-end: 27px !important; 
     padding-inline-end: 27px !important; 
     background-color: #EFEFEF;
    height: 50px;
    border-radius: 10px;
}
.searchbar-search-icon.sc-ion-searchbar-md {
  left: 6px !important;
  top: 11px !important;
  width: 30px !important;
  height: 24px !important;
}

/****
 Margins Css Start Section From Here.
*****/ 
.margin-none {
  margin: 0 !important;
}
.mt-5 {
  margin-top: 5px !important;
}
.mr-5 {
  margin-right: 5px !important;
}
.ml-5 {
  margin-left: 5px !important;
}
.mb-5 {
  margin-bottom: 5px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mr-10 {
  margin-right: 10px !important;
}
.ml-10 {
  margin-left: 10px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mt-15 {
  margin-top: 15px !important;
}
.mr-15 {
  margin-right: 15px !important;
}
.ml-15 {
  margin-left: 15px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mr-20 {
  margin-right: 20px !important;
}
.ml-20 {
  margin-left: 20px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mt-60 {
  margin-top: 60 !important;
}

/****
 Floats Css Start Section From Here.
*****/ 

.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}

/****
 Fonts For Icon Css Start Section From Here.
*****/ 

.font-size-26 {
  font-size: 26px;
}
.font-size-20 {
  font-size: 20px;
}
.font-size-15 {
  font-size: 15px;
}
.font-size-10 {
  font-size: 10px;
}
.font-size-30 {
  font-size: 30px;
}
.font-size-35 {
  font-size: 35px;
}
.font-size-40 {
  font-size: 40px;
}
.font-size-45 {
  font-size: 45px;
}

/****
Font Weight Css Start Section From Here.
*****/ 
.font-weight-600{
  font-weight: 600 !important; 
}
/****
Padding Css Start Section From Here.
*****/ 
.p-10 {
  padding:10px !important;
}
.pb-5 {
  padding-bottom: 5px !important;
}
.pt-5 {
  padding-top: 5px !important;
}
.pl-5 {
  padding-left: 5px !important;
}
.pr-5 {
  padding-right: 5px !important;
}
.pb-10 {
  padding-bottom: 10px !important;
}
.pt-10 {
  padding-top: 10px !important;
}
.pl-10 {
  padding-left: 10px !important;
}
.pr-10 {
  padding-right: 10px !important;
}
.pb-15 {
  padding-bottom: 15px !important;
}
.pt-15 {
  padding-top: 15px !important;
}
.pl-15 {
  padding-left: 15px !important;
}
.pr-15 {
  padding-right: 15px !important;
}
.pb-20 {
  padding-bottom: 20px !important;
}
.pt-20 {
  padding-top: 20px !important;
}
.pl-20 {
  padding-left: 20px !important;
}
.pr-20 {
  padding-right: 20px !important;
}
.pl-25 {
  padding-left: 25px !important;
}
.pl-30 {
  padding-left: 30px !important;
}
.pr-30 {
  padding-right: 30px !important;
}
.pb-30 {
  padding-bottom: 30px !important;
}
.pt-30 {
padding-top: 30px !important;
}

/****
Border Radius Css Start Section From Here.
*****/ 

.br-5{
  border-radius: 5px;
}
.br-10{
  border-radius: 10px;
}
.br-15{
  border-radius: 15px;
}
.br-20{
  
  border-radius: 20px;
}
.brg-4 {
  --border-radius: 4px !important;
}
.btrr-20 {
  border-top-right-radius: 18px !important;
} 
.btlr-20 {
  border-top-left-radius: 18px !important;
}

/****
Image Css Start Section From Here.
*****/ 
 
.photo-frame{
  margin: auto;
  margin-bottom: 10px;
  margin-top: 5px;
}


.photo-active-icon{
  background-color: green;
  width: 10px;
  height: 10px;
  border-radius: 30px;
  position: absolute;
  margin-top: -3%;
  margin-left: 13%;
  border: 2px solid #fff;
}

/****
Colors Css For Html Elements Section From Here.
*****/ 

.color-white {
  color: white !important;
}
.color-black {
  color: black !important;
}
.success {
  color: var(--ion-color-success) !important;
}
.primary {
  color: var(--ion-color-primary) !important;
}
.secondary {
  color: var(--ion-color-secondary) !important;
}
.light {
  color: var(--ion-color-light) !important;
}

/***
Text Alignment Css Section Start From Here.
****/ 

.txt-align-left{
  text-align: left;
}
.txt-align-right{
  text-align: right;
}
.txt-align-center{
  text-align: center;
}
/***
Form Errors Css Section Start From Here.
****/ 

.span-error {
  color: var(--ion-color-danger);
}

.span-success {
  color: var(--ion-color-success);
}
.error-label {
  padding-left: 14px;
  font-size: small;
  margin: 0px;
  font-weight: 700;
  color: var(--ion-color-danger) !important;
}

/***
Toaster Class Css Section Start From Here.
****/ 

.successToast{
  --background: #008000d6 !important;
  --border-radius: 30px !important;
  --box-shadow: 0px 0px 20px 1px var(--ion-color-success) !important;
  --height: 40px;
  --width: 60%;
  --button-color: var(--ion-color-light);
}
.failedToast{
  --background: #800400d6 !important;
  --border-radius: 30px !important;
  --box-shadow: 0px 0px 20px 1px var(--ion-color-danger) !important;
  --height: 40px;
  --width: 60%;
  --button-color: var(--ion-color-light);
}


/**
 Header Ion Tool Bar Css Section Start From Here.
**/ 
.bg-search {
  --background: #FCFCFC !important;
}

/**
 Button Css Section Start From Here.
**/ 

.action-btn {
  height: 50px;
  --border-radius: 10px !important;
  width: 100% !important;
}
// Tabs Css
// Tabs Css
ion-tab {
  background-color: var(--ion-color-dark) !important
}
ion-tab-button {
  color: var(--ion-color-dark) !important;
  ion-label {
    color: var(--ion-color-dark) !important;
  }
}
.tab-selected {
  color: var(--ion-color-primary) !important;
  margin-bottom: 8px !important;
  ion-label {
    color: var(--ion-color-primary)  !important;
  }
  ion-icon {
    font-size: 25px !important;
  }
}
.full-width-btn {
  height: 50px;
  --border-radius: 10px !important;
} 

/**
 Width Css Section Start From Here.
**/ 

.width-100 {
  width: 100% !important;
}


/**
  Segment Css Section Start From Here.
**/  

ion-segment{
  height: 42px !important;
  --min-height: 32px;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0px 0px 1px #EFEFEF;
}
ion-segment-button {
  text-transform: capitalize;
  min-height: 10px !important;
  --color-checked: var(--ion-color-primary) !important;
  --background: ghostwhite;
}
ion-segment-button ion-label{
  color: var(--ion-color-dark) !important;
  font-size: 15px !important;
}
.segment-button-checked {
  ion-label {
    color: var(--ion-color-light) !important;
  }
  background-color: var(--ion-color-primary) !important;
}

/***
**** Letter Spacing
***/
.letter-spacing-5 {
  letter-spacing: 2px !important;
}
/***
**** Action Sheet
***/
.action-sheet-group.sc-ion-action-sheet-md:first-child{
  border-top-left-radius: 35px !important;
    border-top-right-radius: 35px !important;
}

.action-sheet-title.sc-ion-action-sheet-md {
  font-weight: 600 !important;
    color: black !important;
    font-size: 20px !important;
}

.action-sheet-button.sc-ion-action-sheet-md {
  border-bottom: 1px solid #8080806b !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    height: 75px !important;
}
.action-sheet-cancel {
  span {
    background-color: var(--ion-color-primary) !important;
    padding-left: 40%;
    color: white;
    height: 50px;
    border-radius: 8px;
  }
}
// cervon 
.mat-expansion-panel-header{
  .mat-expansion-indicator::after{
      color: var(--ion-color-primary) !important;
  }
  .mat-expansion-indicator{
    background-color: #ffffff;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    padding-left: 10px;
    padding-top: 3px;
    box-shadow: 2px 0px 10px -2px #8080806b;
  }
  .mat-expansion-panel-header-title {
    color: var(--ion-color-primary) !important;
  }
}

/*****************
**********    Headings
******************/
h1{
  margin-top: 20px !important;
  font-size: 26px !important;
}