<ion-tabs>
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="home" (click)="clickOnTab(1)">
      <ion-icon name="home"></ion-icon>
      <div class="arrow-up"></div>
    </ion-tab-button>

    <ion-tab-button tab="search" (click)="clickOnTab(7)">
      <ion-icon name="business"></ion-icon>
      <div class="arrow-up"></div>
    </ion-tab-button>

    <ion-tab-button tab="notification" (click)="clickOnTab(0)">
      <ion-icon name="git-compare"></ion-icon>
      <div class="arrow-up"></div>
    </ion-tab-button>

    <ion-tab-button tab="about" (click)="clickOnTab(0)">
      <ion-icon name="people"></ion-icon>
      <div class="arrow-up"></div>
    </ion-tab-button>

    <ion-tab-button tab="profile" (click)="clickOnTab(5)">
      <ion-icon name="notifications"></ion-icon>
      <div class="arrow-up"></div>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
