<ion-content>
  <ion-tabs>
    <ion-tab-bar class="admin-toolbar btrr-20 btlr-20" slot="bottom">
      <ion-tab-button tab='home' selected>
        <ion-icon class="font-size-20" name="home"></ion-icon>
        <ion-label class="txt-align-center">
          Home
        </ion-label>
      </ion-tab-button>
      <ion-tab-button tab='explore'>
        <ion-icon class="font-size-20" src="../../../assets/icon/system-icons/side-menu/dna.svg"></ion-icon>
        <ion-label class="txt-align-center"> 
          Explore
        </ion-label>
      </ion-tab-button>

      <ion-tab-button tab='cart'>
        <ion-icon class="font-size-20" src="../../../assets/icon/system-icons/side-menu/shopping-cart.svg"></ion-icon>
        <ion-label class="txt-align-center">
          Cart
      </ion-label>
      </ion-tab-button>
      <ion-tab-button tab='favourite'>
        <ion-icon class="font-size-20" src="../../../assets/icon/system-icons/side-menu/heart.svg"></ion-icon>
        <ion-label class="txt-align-center">
          favorites
      </ion-label>
      </ion-tab-button>
      <ion-tab-button tab='profile'>
        <ion-icon class="font-size-20" 
        src="../../../assets/icon/system-icons/side-menu/user.svg"></ion-icon>

        <ion-label class="txt-align-center"> 
          Account 
      </ion-label>       
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
