.order-heading{
    font-size: 17px;
    font-weight: 600;
    margin: 0px;
    padding-top: 5px;
}
.order-detail{
    margin: 0px;
    padding-top: 6px;
}
.color-grey{
    color: grey;
}
.order-list-col{
    padding: 20px 5px 10px 10px;
    background-color: #faeced;
    border: 1px solid var(--ion-color-primary);
    border-radius: 25px;
}